.project-analysis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
  padding: 40px 0;
}
.casestudy-section-subtitle {
  font-size: 15.354px;
  margin: 8px;
  color: #6a5555;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}
.casestudy-section-title {
  font-size: 38px;
  margin: 20px;
  font-family: louisgeorgecafebold;
  color: #425c64;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: left;
  width: 80%;
  margin: 0;
  left: 0;
  padding: 20px 0;
}
.casestudy-section-content-title {
  font-size: 36.245px;
  margin-top: 20px;
  font-family: leaguespartan;
}
.casestudy-section-content-separator {
  height: 4px;
  width: 120px;
  background-color: #4f46e5;
}
.casestudy-section-content-desc {
  display: flex;
  flex-direction: column;
  font-size: 20.245px;
  margin-top: 20px;
  color: #3a3a3a;
  line-height: 1.6;
  width: 423px;
  text-align: justify;
}
.casestudy-section-inner-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  margin: 0;
  left: 0;
  padding: 20px 0;
}
.casestudy-section-ui-image-container {
  height: 500px;
  width: 500px;
}
.casestudy-section-ui-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  scale: 1.5;
}
.casestudy-section-color-palette-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  left: 0;
  padding: 70px 20px;
}
.color-palette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-palette {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #3a3a3a34;
}
.color-palette-name {
  font-size: 18px;
}
.casestudy-section-fonts-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  margin: 70px 0;
}
.title-font-style-1 {
  font-size: 38px;
  margin: 20px;
  color: #425c64;
  font-family: "Ubuntu", sans-serif;
}
.casestudy-section-font-style-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  justify-content: center;
  font-family: Roliderounded;
  width: 90%;
  font-size: 18.985px;
  text-align: justify;
  width: 90%;
}

.title-font-style-2 {
  font-size: 38px;
  margin: 20px;
  color: #425c64;
  text-decoration: none;
  font-family: Be Vietnam Pro, sans-serif;
}
.casestudy-section-font-style-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: Be Vietnam Pro, sans-serif;
  position: relative;
  font-family: Roliderounded;
  width: 90%;
  font-size: 18.985px;
  text-align: justify;
  width: 90%;
}

.single-work-ui-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
  overflow: hidden;
}
.single-work-ui-image img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  scale: 2.5;
}
.next-work {
  display: block;
  width: 100%;
  padding: 25px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.next-work-lead {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  text-transform: uppercase;
  position: relative;
  align-self: flex-start;
  text-decoration: none;
  color: #636ae8;
  font-size: 20.234;
  font-weight: 800;
  letter-spacing: 1px;
}
.next-work-title {
  font-family: leaguespartan;
  position: relative;
  align-self: flex-start;
  font-size: 2.5em;
  line-height: 1.2;
  margin: 30px;
  color: #425c64;
  max-width: 600px;
}
.next-work-arrow svg {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  right: 100px;
  top: 65%;
  width: 100px;
  height: 70px;
  opacity: 0.7;
  z-index: 2;
  transition: transform 0.3s ease-in, fill 0.3s ease;
}
.next-work:hover .next-work-arrow svg {
  transform: translateX(12px); /* optional movement */
  opacity: 1;
}
.casestudy-section-ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 0;
  left: 0;
  padding: 20px 0;
}

@media (max-width: 700px) {
  .project-details-section {
    width: 100%;
    background-color: #f3f3f3;
    padding: 40px 0;
  }

  .casestudy-section-subtitle {
    font-size: 15.354px;
    margin: 8px;
    color: #6a5555;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.8;
  }
  .casestudy-section-title {
    font-size: 34px;
    margin: 20px;
    font-family: louisgeorgecafebold;
    color: #425c64;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: left;
    width: 80%;
    margin: 0;
    left: 0;
    padding: 20px 0;
  }
  .casestudy-section-content-title {
    font-size: 32.245px;
    margin-top: 20px;
    font-family: leaguespartan;
  }
  .casestudy-section-content-separator {
    height: 4px;
    width: 100px;
    background-color: #4f46e5;
  }
  .casestudy-section-content-desc {
    display: flex;
    flex-direction: column;
    font-size: 20.245px;
    margin-top: 20px;
    color: #3a3a3a;
    line-height: 1.6;
    width: 100%;
    text-align: justify;
  }
  .casestudy-section-ui-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
  }
  .casestudy-section-ui-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    scale: 1.4;
  }
  .casestudy-section-color-palette-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    left: 0;
    padding: 70px 20px;
  }
  .color-palette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: scale 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .color-palette-container:hover .color-palette {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #3a3a3a50;
    cursor: pointer;
  }
  .color-palette {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #3a3a3a34;
  }
  .color-palette-name {
    font-size: 18px;
  }
  .casestudy-section-fonts-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
    width: 90%;
    margin: 70px 0px;
  }

  .casestudy-section-font-style-1,
  .casestudy-section-font-style-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .title-font-style-1 {
    font-size: 32px;
    margin: 20px;
    color: #425c64;
    font-family: "Ubuntu", sans-serif;
  }
  .title-font-style-2 {
    font-size: 32px;
    margin: 20px;
    color: #425c64;
    text-decoration: none;
    font-family: Be Vietnam Pro, sans-serif;
  }
  .casestudy-section-font-style-2 {
    margin-top: 20px;
    font-family: Be Vietnam Pro, sans-serif;

    font-family: Roliderounded;
    width: 100%;
    font-size: 18.985px;
    text-align: justify;
    width: 90%;
  }
  .casestudy-section-ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0;
    left: 0;
    padding: 20px 0;
  }
  .single-work-ui-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
  }
  .single-work-ui-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    scale: 1.4;
  }
  .next-work {
    display: block;
    width: 100%;
    padding: 25px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .next-work-lead {
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
      serif;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    text-decoration: none;
    color: #636ae8;
    font-size: 22.234;
    font-weight: 800;
    margin: 7%;
  }
  .next-work-title {
    font-family: leaguespartan;
    position: relative;
    align-self: center;
    justify-self: center;
    font-size: 32.542px;
    line-height: 1.2;
    margin: 24px auto;
    color: #425c64;
    max-width: 600px;
  }
  .next-work-arrow svg {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    right: 40px;
    top: 65%;
    width: 100px;
    height: 70px;
    opacity: 0.7;
    z-index: 2;
    transition: transform 0.3s ease-in, fill 0.3s ease;
  }
  .next-work:active .next-work-arrow svg {
    transform: translateX(12px); /* optional movement */
    opacity: 1;
  }
}
