@font-face {
  font-family: "aquafont";
  src: url("/fonts/aqua.ttf") format("truetype");
}

@font-face {
  font-family: "Roliderounded";
  src: url("/fonts/RolideRounded-Regular.otf") format("opentype");
}

@font-face {
  font-family: "louisgeorgecafe";
  src: url("/fonts/Louis George Cafe.ttf") format("truetype");
}

@font-face {
  font-family: "louisgeorgecafebold";
  src: url("/fonts/Louis George Cafe Bold.ttf") format("truetype");
}

@font-face {
  font-family: "kionaregular";
  src: url("/fonts/Kiona-Regular.ttf") format("truetype");
}
:root {
  --primary-color: #0d0d0d;
  --secondary-color: #eaeaea;
  --highlight-text: #ff4500;
  --primary-text-low-opacity: rgba(223, 223, 227, 0.1);
  --secondary-text-low-opacity: rgba(48, 48, 48, 0.104);
}
.dark-theme {
  --primary-color: #eaeaea;
  --secondary-color: #0d0d0d;
  --primary-text-low-opacity: rgba(48, 48, 48, 0.104);
  --secondary-text-low-opacity: rgba(223, 223, 227, 0.1);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.5s ease, color 0.5s ease;
}

