.footer {
  color: var(--secondary-color);
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 10px;
  box-shadow: 1px 1px 35px #0d0d0d;
}

.logo-bottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 80px;
  width: 80px;
}
.logo-bottom:hover {
  cursor: pointer;
}

/* Social icons */
.footer-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  z-index: 1;
}
.footer-icon img {
  cursor: pointer;
  width: 35px;
  height: auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.footer-icon img:hover {
  transform: scale(1.01);
  opacity: 0.7;
}
.footer-credit {
  font-size: 14px;
  font-family: "louisgeorgecafe", sans-serif;
  color: var(--secondary-color);
  text-align: center;
  opacity: 0.8;
  margin: 10px;
}
@media (max-width: 600px) {
  .footer-credit {
    font-size: 12px;
    font-family: "louisgeorgecafe", sans-serif;
    color: var(--secondary-color);
    text-align: center;
    opacity: 0.8;
    margin: 10px;
  }
}
