/* Loader overlay covering the full screen */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}

/* Common styles for loader covers */
.loader-cover1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #08005F 0%, #08138F 100%);
  transform: translateY(100%);
  opacity: 0;
  z-index: 1;
}
.loader-cover2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(8, 4, 41);
  transform: translateX(0%);
  opacity: 0;
  z-index: 2;
}

/* Cover 1 animation */
.loader-cover1.active {
  animation: slideInFromLeft1 1.2s ease-in-out forwards;
}

/* Cover 2 animation with delay for layered effect */
.loader-cover2.active {
  animation: slideInFromLeft2 1s ease-in forwards;
  animation-delay: .5s;
}

@keyframes slideInFromLeft1 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1 ;
  }
}

@keyframes slideInFromLeft2 {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}
